/* HAILU SC-EMS Global Styles */

/* Hide scrollbar but keep scrollable */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
